main {
    margin-bottom: 3rem;
}

.title-gifs {
    text-align: center;
    color: antiquewhite;
}

.cards {
    display: grid;
    gap: 1.5rem;
    grid-template-columns: repeat(auto-fill, minmax(min(100%, 28rem), 5fr));
    grid-auto-flow: dense;
}

@media (min-width: 40rem) {
    .card-info:nth-child(5n + 1) {
        grid-column: span 2;
    }
}

.card-info {
}

.container-img {
    height: 28rem;
}
@media (min-width: 40rem) {
    .container-img {
        height: 35rem;
    }
}

.img {
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 100%;
}
